body {
    background-color: rgb(172, 172, 172);
    margin: 0;
    padding: 0;
}
h1 {
    font-family: 'Cinzel Decorative', cursive;
}
/* ==========  Header ============ */
header {
    position: fixed;
    top:0;
    width: 100%;
}
.top-nav {
    background-color: #4d4d4d;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mainIcon {
    width: 50px;
    height: 50px;
    margin: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin: 0 10px;
}
.links {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}
#header-line {
    margin: 10px;
}
#header-line a:link {
    color:white;
    text-decoration: none;
}

#header-line a:hover {
    color: red;
    text-decoration: none;
}

#header-line a:visited {
    color: white;
    text-decoration: none;
}
/* ==========  Footer ============ */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    background-color: #4d4d4d;
}
h6 {
    font-size: 24px;
    margin: 15px 0;
    padding: 0 16px;
}
.icons {
    margin: 15px;
}
.btn {
    background-color: #4d4d4d;
    border: none;
    color: black;
    padding: 0 16px ;
    font-size: 24px;
    cursor:pointer;
}
.btn:hover {
    color: white;
}