body {
    background-color: rgb(172, 172, 172);
    margin: 0;
    padding: 0;
}
h1 {
    font-family: 'Cinzel Decorative', cursive;
}
/* ==========  Header ============ */
header {
    position: -webkit-sticky;
    position: sticky;
    top:0;
    width: 100%;
}

.top-nav {
    background-color: #4d4d4d;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mainIcon {
    width: 50px;
    height: 50px;
    margin: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin: 0 10px;
}
.links {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}
#header-line {
    margin: 10px;
}
#header-line a:link {
    color:white;
    text-decoration: none;
}

#header-line a:hover {
    color: red;
    text-decoration: none;
}

#header-line a:visited {
    color: white;
    text-decoration: none;
}
/* ==========  Footer ============ */
footer {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    top: 0;
    width: 100%;
    background-color: #4d4d4d;
}
h6 {
    font-size: 24px;
    margin: 15px 0;
    padding: 5px 16px;
}
.icons {
    display: flex;
    justify-content: space-between;
    margin: 15px;
    width: 200px;
    
}
.icons a {
    color: black;
    padding: 10px;
}
.icons a:hover {
    padding: 10px;
}

#twitter:hover {
    font-size: larger;
    color: #1da1f2;
}
#instagram:hover {
    font-size: larger;
    padding: 10px;
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
}
#youTube:hover {
    font-size: larger;
    color: red;
}
#tikTok:hover {
    font-size: larger;
    text-shadow: 2px 2px #ff0050,-1px -3px #00f2ea;
}